<div id="map">
  
</div>

<script type="text/javascript">
$(document).ready(function(){
  if(gabonPolygon === undefined) {  
    //This is area of the whole world
    var wholeWorld = [
      new google.maps.LatLng(-180, -90),
      new google.maps.LatLng(-180, 90),
      new google.maps.LatLng(180, 90),
      new google.maps.LatLng(180, -90)
    ];

    var gabonArea = [wholeWorld];

    <% @country.geom.each do |polygon| %>
      gabonArea.push(<%= polygon_to_gmap_points_array polygon -%>);
    <% end %>

    gabonPolygon = new google.maps.Polygon({
      paths: gabonArea,
      strokeColor: "#000000",
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: "#ffffff",
      fillOpacity: 1
    });
  }

  //Load GeoJSON of provinces
  if(provincesData === undefined) {
    provincesData = new google.maps.Data();
    provincesData.loadGeoJson("<%= provinces_path format: :json %>");
    
    provincesData.addListener('mouseover', function(event) {
      provincesData.revertStyle();
      $('#info-box').text(event.feature.getProperty('name'));
      provincesData.overrideStyle(event.feature, { fillColor: 'red' });
    });

    provincesData.addListener('mouseout', function(event){
      provincesData.revertStyle();
    });

    provincesData.addListener('click', function(event) {
      provinceId = event.feature.getProperty('id');
      console.log("click province id " + provinceId);
      $.getScript("/provinces/" + provinceId + ".js");
    });    

    provincesData.setStyle(function(feature) {
      return { fillColor: 'green',
              strokeWeight: 1};
    });
  }
  
});


$.getScript("<%= root_path format: :js -%>");
</script>