//Set the main size
function setMainSize() {
  var totalWidth = $(window).width();
  var totalHeight = $(window).height();

  $("#main").width(totalWidth - $("#left-panel").outerWidth() - 
          $("#left-panel").offset().left - $("#main").css("margin-left"));
  
  $("#main").height(totalHeight - $("#header").outerHeight());
  $("#left-panel").height(totalHeight - $("#header").outerHeight());

  if(map) {
    google.maps.event.trigger(map, 'resize');  
  }
  
}

$(document).ready(function() {
  setMainSize();
  initMap();

  $(window).resize(function() {
    setMainSize();
  });

  // HIDE MENU
  $('#hide-menu >:first-child > a').click(function(e) {
    $('body').toggleClass("hidden-menu");

    //There is an issue that after toggle class, the width of #left-panel 
    //doesn't change immediately, so set a timeout to set the main size.
    //This should be able to solved by an event (TODO)
    setTimeout(function() {
      setMainSize();
    }, 300);
    e.preventDefault();

  });
});

var map;
//Init google map
function initMap() {
  google.maps.visualRefresh = true;
  var mapOptions = {
    zoom: 7,
    mapTypeControlOptions: {mapTypeIds:
               [google.maps.MapTypeId.ROADMAP]}
  };

  var mapElement = document.getElementById('map');
  map = new google.maps.Map(mapElement, mapOptions);
  map.setMapTypeId(google.maps.MapTypeId.ROADMAP);

  //Set center to garbon
  var gabon = new google.maps.LatLng(1.000000, 11.45000000);
  map.setCenter(gabon);

  //Create an info box for displaying names
  var infoBox = document.createElement('div');
  infoBox.innerHTML = "<div id='info-box'>Info</div>";
  map.controls[google.maps.ControlPosition.RIGHT_TOP].push(infoBox);


  //Add an inverse polygon to dark the area that are outside of gabon


  //Load GeoJSON
  map.data.loadGeoJson("<%= Rails.application.routes.url_helpers.provinces_path format: :json %>");

  map.data.addListener('mouseover', function(event) {
    map.data.revertStyle();
    $('#info-box').text(event.feature.getProperty('name'));
    map.data.overrideStyle(event.feature, { fillColor: 'red' });


  });

  map.data.addListener('mouseout', function(event){
    map.data.revertStyle();
  });

  map.data.setStyle(function(feature) {
    return { fillColor: 'green',
            strokeWeight: 1}
  });

}
