//Set the main size
function setMainSize() {
  var totalWidth = $(window).width();
  var totalHeight = $(window).height();

  $("#main").width(totalWidth - $("#left-panel").outerWidth() - 
          $("#left-panel").offset().left - $("#main").css("margin-left"));
  
  $("#main").height(totalHeight - $("#header").outerHeight() - $("#ribbon").outerHeight());
  $("#left-panel").height(totalHeight - $("#header").outerHeight());

  if(map) {
    google.maps.event.trigger(map, 'resize');  
  }
  
}

// This is the google map object and it's global
var map;
// This is the highlighted area, and the other area will be dark
var currentAreaPolygon;
// This is current data
var currentData;

// This is a polygon represents gabon
var gabonPolygon;

// The provincesData contains all provinces
var provincesData;

$(document).ready(function() {
  setMainSize();
  initMap();

  $(window).resize(function() {
    setMainSize();
  });

  // HIDE MENU
  $('#hide-menu >:first-child > a').click(function(e) {
    $('body').toggleClass("hidden-menu");

    //There is an issue that after toggle class, the width of #left-panel 
    //doesn't change immediately, so set a timeout to set the main size.
    //This should be able to solved by an event (TODO)
    setTimeout(function() {
      setMainSize();
    }, 300);
    e.preventDefault();

  });
});


//Init google map
function initMap() {
  google.maps.visualRefresh = true;
  var mapOptions = {
    zoom: 7,
    mapTypeControlOptions: {mapTypeIds:
               [google.maps.MapTypeId.ROADMAP]}
  };

  var mapElement = document.getElementById('map');
  map = new google.maps.Map(mapElement, mapOptions);
  map.setMapTypeId(google.maps.MapTypeId.ROADMAP);

  // hide most features
  map.set('styles', [
      {
        featureType: 'road.highway',
        stylers: [ { visibility: 'off' } ]
      }, 
      {
        featureType: 'water',
        stylers: [ { visibility: 'off' } ]
      },
      {
        featureType: 'administrative.country',
        stylers: [ { visibility: 'off' } ]
      },
      {
        featureType: 'administrative.province',
        stylers: [ { visibility: 'off' } ]
      },
      {
        featureType: 'poi.park',
        stylers: [ { visibility: 'off' } ]
      },
      {
        featureType: 'poi.school',
        stylers: [ { visibility: 'off' } ]
      }
    ])

  //Set center to garbon
  var gabon = new google.maps.LatLng(-0.6225172457730085, 11.785067468340143);
  map.setCenter(gabon);

  //Create an info box for displaying names
  var infoBox = document.createElement('div');
  infoBox.innerHTML = "<div id='info-box'>Info</div>";
  map.controls[google.maps.ControlPosition.RIGHT_TOP].push(infoBox);

}
