<div class="jarviswidget jarviswidget-color-green" id="bar-chart" data-widget-togglebutton="false" 
data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
  <header role="heading">
    <div class="jarviswidget-ctrls">
      <a href="javascript:void(0)" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>
    </div>
    <h2>Statistiques</h2>
    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
  </header>

  <div class="content" role="content">
    <div class="widget-body no-padding">
      <div id="legend" style="width: 100%; height: 20px"></div>
      <h6>Nombre d'établissements</h6>
      <div id="schools-count-canvas" style="width: 100%; height: 200px"></div>
      <h6>Capacité d'accueil</h6>
      <div id="capacity-canvas" style="width: 100%; height: 200px"></div>
    </div>
  </div>
</div>
