/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* body */
body {
  background-image: asset-url("mybg.png");
}



/* header */
#header {
  display: block;
  height: 49px;
  position: relative;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #2C3742;
  background-repeat: repeat-x;

  .vcenter {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
    margin-top: 14px;
  }
}

#logo {
  width: 145px;
  margin-top: 13px;
  margin-left: 9px;

  img {
    width: 123px;
    height: auto;
    padding-left: 3px;
  }
}

.logo-group > span {
  display: inline-block;
  height: 39px;
  float: left;
}

/* left panel */
#left-panel {
  position: absolute;
  top: 49px;
  left: 0;
  z-index: 1002;
  width: 250px;
  display: block;
  overflow: hidden;
  background: linear-gradient(to right,#F7F7F7 99%,#CACACA 100%);
  padding: 0 5px;
}

/* the breadcrumb */
#ribbon {
  background: #fff;
  min-height: 35px;
  padding: 0 13px;
  position: relative;

  .breadcrumb {
    margin-bottom: 0px;
    background-color: #fff;
  }
}

/* main */
#main {
  transition: all .1s ease-out;
  display: block;
  margin-left: 250px;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
}

/* info-box in google map */
#info-box {
  background-color: white;
  height: 35px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  border: 1px solid grey;
  min-height: 5px;
  display: inline-block;
  font-size: 25px;
}


/* form */
.smartform {

  font-size: 13px;

  .checkbox {
    min-height: 24px;
    margin-bottom: 0px;
    line-height: 15px;

    label {
      vertical-align: middle;
      padding-left: 0px;

      input {
        margin: 1px 2px;
        vertical-align: middle;    
      }

      span {
        margin-left: 15px;
      }
    }
  }

  .form-group-container {
    margin-bottom: 15px;
  }

  header {
    display: block;
    padding: 8px 0 4px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    font-size: 16px;
    font-weight: bold;
    color: #232323;  
  }

  .form-group {
    margin: 5px 5px 0;

    .radio, .checkbox {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
  
}

/*
 * HIDDEN MENU
 */
.hidden-menu #left-panel {
  left: -240px;
  z-index: 1002;
}
.hidden-menu #main {
  margin-left: 10px;
}
.hidden-menu #left-panel:hover {
  left: 0px;
}
.hidden-menu .minifyme {
  display: none;
}
.minified #hide-menu {
  display: none;
}

.hidden-menu #hide-menu > :first-child > a {
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #5a5a5a 0%, #686868 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a5a5a), color-stop(100%, #686868));
  background-image: -webkit-linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  background-image: -o-linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  background-image: -ms-linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  background-image: linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5A5A5A', endColorstr='#686868', GradientType=0);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border-color: #494949;
}
.hidden-menu #hide-menu > :first-child > a:active,
.full-screen #fullscreen > :first-child > a:active {
  -webkit-box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

/* bar chart */
#bar-chart {
  opacity: 1;

  .content {
    background-color: #ffffff;
  }
}

/* flot */
#legend {
  .legendLabel {
    padding: 0px 5px 0px 0px;
  }
}


/* font awesome */
.pressed {
  color: orange;
}